<ul>
  <% @categories.each do |category| %>
    <li> <a href="categories/<%=category["id"]%>"> View <%= category["name"]%></a></li>
  <% end %>
</ul>

<a href="categories/new"><font color="black"> Create a new category</font></a>
<br/>
<FORM METHOD="LINK" ACTION="/">
<INPUT TYPE="submit" VALUE="Return to Home Page">
</FORM>