Welcome to the store administrative interface!
<p>
  <a href="/products"><font color="black"><b> View the product list. </b></font></a>
</p>
<p>
	<a href="/categories"><font color="black"><b> View the category list. </b></font></a>

