<ul>
  <% @products.each do |product| %>
    <li> <a href="products/<%=product["id"]%>"> View <%= product["name"]%></a></li>
  <% end %>
</ul>

<a href="products/new"><font color="black">Create a new product</font></a>
<br>
<FORM METHOD="LINK" ACTION="/">
<INPUT TYPE="submit" VALUE="Return to Home Page">
</FORM>